<h1>SearchMovie#movie</h1>

<%movieList= @movies%>
<table>
<% movieList.each do |mov|%>
<tr>
<td><img src="<%=mov['posters']['detailed']%>"></td>
<td><%= mov['critics_consensus'] %></td>
</tr>
<%end%>
</table>>
